/* Navigation */
.navigation ul {
  text-align: right;
  margin-top: 0px;
  font-size: 110%;
  font-weight: bold;
}

.navigation li {
  display: inline-block;
}

.navigation li a {
  display: inline-block;
  text-decoration: none;
  float: right;
  padding-top: 35px;
  margin-right: 75px;
  color: black;
}

.navigation li a:hover:not(.active) {
  color: grey;
}

.navigation li a.active {
  color: #1870D5;
}


/* Main Title */
/* Credit: https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter {
  display: inline-block;
  float: left;
  top: 50%;  
  padding-top: 28px;
  overflow: hidden; 
  margin-left: 75px;
  white-space: nowrap; 
  letter-spacing: .05em;
  font-size: 175%;
  font-family: "tahoma";
  animation: 
    typing 3.5s steps(40, end);
}

@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}


/* Banner Images */
#bannerimageindex {
  position: absolute;
  width: 100%;
  background-image: url(homepage.png); 
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bannerimageabout {
  position: absolute;
  width: 100%;
  background-image: url(aboutpage.png); 
  height: 500px;
  background-position: center;
}

#bannerimagearticles {
  position: absolute;
  width: 100%;
  background-image: url(articles.png); 
  height: 500px;
  background-position: center;
}


/* Home Page CSS */
.intro {
  display: block;
  width: 85%;
  margin-left: 100px;
  padding-top: 525px;
  font-weight: lighter;
  word-wrap: break-word;
  padding-bottom: 50px;
}

/* Credit: https://blog.hubspot.com/website/css-fade-in?hubs_content=blog.hubspot.com%2Fwebsite%2Fcss-fade-in&hubs_content-cta=Fade-in%20Image%20Transition */
.fade-in-image { animation: fadeIn 10s; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


/* About Page CSS */
.aboutbackground {
  display: block;
  width: 85%;
  margin-left: 100px;
  padding-top: 525px;
  padding-bottom: 25px;
  color: #1870D5;
}

.aboutbgparagraph {
  display: block;
  width: 85%;
  margin-left: 100px;
  font-weight: lighter;
  word-wrap: break-word;
  padding-bottom: 20px;
}

.aboutwhy {
  display: block;
  width: 85%;
  margin-left: 100px;
  padding-bottom: 25px;
  color: #1870D5;
}

.aboutwhyparagraph {
  display: block;
  width: 85%;
  margin-left: 100px;
  font-weight: lighter;
  word-wrap: break-word;
  padding-bottom: 20px;
}

.aboutcalltoaction {
  display: block;
  width: 85%;
  margin-left: 100px;
  padding-bottom: 25px;
  color: #1870D5;
}

.aboutctaparagraph {
  display: block;
  width: 85%;
  margin-left: 100px;
  font-weight: lighter;
  word-wrap: break-word;
  padding-bottom: 20px;
}


/* Articles Page CSS */
.articleheader {
  width: 100%;
  padding-top: 475px;
  text-align: center;
  font-size: 80px;
  animation: fadeIn 7s;
}

.articles {
  display: block;
  width: 75%;
  margin-left: 200px;
  padding-bottom: 50px;
  font-size: 45px;
  font-weight: semibold;
  color: black;
  text-decoration: none;
}

a:hover { color: #1870D5; }


/* General CSS */
body {
  font-family: "tahoma";
  display: flex;
  padding: 0px;
  margin: 0px;
}

img {
  margin-left: 1px;
  width: 33%;
}

