.navigation ul {
  text-align: right;
  margin-top: 0px;
  font-size: 110%;
  font-weight: bold;
}

.navigation li {
  display: inline-block;
}

.navigation li a {
  display: inline-block;
  text-decoration: none;
  float: right;
  padding-top: 35px;
  margin-right: 75px;
  color: black;
}

.navigation li a:hover:not(.active) {
  color: grey;
}

.navigation li a.active {
  color: #1870D5;
}

.typewriter {
  display: inline-block;
  float: left;
  top: 50%;  
  padding-top: 28px;
  overflow: hidden; 
  margin-left: 75px;
  white-space: nowrap; 
  letter-spacing: .05em;
  font-size: 175%;
  font-family: "tahoma";
  animation: 
    typing 3.5s steps(40, end);
}

@keyframes typing {
  from { width: 0 }
  to { width: 30% }
}

#bannerimageindex {
  width: 100%;
  background-image: url(homepage.png); 
  height: 500px;
  background-position: center;
}

#bannerimageabout {
  width: 100%;
  background-image: url(aboutpage.png); 
  height: 500px;
  background-position: center;
}

#bannerimagearticles {
  width: 100%;
  background-image: url(articles.png); 
  height: 500px;
  background-position: center;
}


body {
  font-family: "tahoma";
  display: flex;
  padding: 0px;
  margin: 0px;
}